.notification {
    color: green;
    background: rgb(162, 198, 158);
    font-size:20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.error {
    color: rgb(255, 0, 0);
    background: rgb(36, 22, 22);
    font-size:20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}